<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gl.app.mapper.UserMapper">

	<resultMap id="result" type="user">
		<result property="id" column="id" />
		<result property="userName" column="userName" />
		<result property="password" column="password" />
	</resultMap>

	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM user_table
	</select>

	<select id="isExitsName" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM user_table where username=#{username}
	</select>

	<insert id="addUser" useGeneratedKeys="true" keyProperty="id"
		parameterType="user">

		INSERT INTO user_table
		(username,password)
		VALUE
		(#{userName},#{password})
	</insert>
	<select id="selectUser" parameterType="user" resultMap="result">
		SELECT *
		FROM user_table u where u.username=#{userName} and
		password=#{password}
	</select>

	<select id="selectMenu" resultType="map">
		SELECT * FROM menu_node where
		pid = #{pid}
	</select>

	<select id="getAllUser" resultMap="result">
		SELECT id,username,password
		FROM user_table
	</select>

	<select id="getUserByPage" resultMap="result">
		SELECT id,username,password
		FROM user_table limit #{start} , #{size}
	</select>

	<select id="getUserById" parameterType="String" resultMap="result">
		SELECT id, username,password
		FROM user_table where id = #{id}
	</select>
	<select id="selectUserByUserName" parameterType="String"
		resultMap="result">
		SELECT * FROM user_table where username = #{userName}
	</select>
	<select id="selectUserById" parameterType="String" resultMap="result">
		SELECT * FROM user_table where id = #{id}
	</select>
	<delete id="deleteById" parameterType="Integer">
		DELETE FROM
		user_table
		WHERE ID = #{id}
	</delete>

	<update id="update" parameterType="user">
		UPDATE user_table
		<set>
			<if test="userName != null ">username = #{userName},</if>
			<if test="password != null ">password = #{password}</if>
		</set>
		WHERE id = #{id}
		
	<!-- update user_table set username=#{userName},password=#{password} where id=#{id} -->
		
	</update>

</mapper>